version: 1

metadata:
  name: Homelab Users

entries:
  - model: authentik_core.group
    id: homelab-admins
    state: present
    identifiers:
      name: Homelab Admins
    attrs:
      name: Homelab Admins
      is_superuser: true

  - model: authentik_core.user
    id: primary-user
    state: present
    identifiers:
      username: "{{ authentik_primary_user }}"
    attrs:
      name: "{{ authentik_primary_user_name }}"
      email: "{{ authentik_primary_user_email }}"
      password: "{{ authentik_primary_user_password }}"
      is_active: true
      type: internal
      path: users
      groups:
        - !KeyOf homelab-admins

  - model: authentik_core.user
    id: bootstrap-admin
    state: present
    identifiers:
      username: akadmin
    attrs:
      email: ""

  - model: authentik_core.group
    id: grafana-users
    state: present
    identifiers:
      name: grafana-users
    attrs:
      name: grafana-users

  - model: authentik_core.group
    id: portainer-users
    state: present
    identifiers:
      name: portainer-users
    attrs:
      name: portainer-users

  - model: authentik_core.group
    id: uptime-kuma-users
    state: present
    identifiers:
      name: uptime-kuma-users
    attrs:
      name: uptime-kuma-users

  - model: authentik_core.group
    id: stirling-pdf-users
    state: present
    identifiers:
      name: stirling-pdf-users
    attrs:
      name: stirling-pdf-users