PAPERLESS_DB_PASSWORD={{ paperless_db_password }}
PAPERLESS_SECRET_KEY={{ paperless_secret_key }}
PAPERLESS_ADMIN_USER={{ paperless_admin_user }}
PAPERLESS_ADMIN_PASSWORD={{ paperless_admin_password }}

HOMELAB_DOMAIN={{ homelab_domain }}
PAPERLESS_TIMEZONE={{ paperless_timezone }}

PAPERLESS_APPS=allauth.socialaccount.providers.openid_connect

PAPERLESS_SOCIALACCOUNT_PROVIDERS={"openid_connect":{"OAUTH_PKCE_ENABLED":true,"APPS":[{"provider_id":"authentik","name":"Authentik","client_id":"{{ paperless_oidc_client_id }}","secret":"{{ paperless_oidc_client_secret }}","settings":{"server_url":"{{ authentik_url }}/application/o/paperless/"}}]}}

PAPERLESS_DISABLE_REGULAR_LOGIN=true