STIRLING_ADMIN_USER={{ stirling_admin_user }}
STIRLING_ADMIN_PASSWORD={{ stirling_admin_password }}

SECURITY_ENABLELOGIN=true
SECURITY_LOGINMETHOD=all

SECURITY_OAUTH2_ENABLED=true
SECURITY_OAUTH2_ISSUER={{ authentik_url }}/application/o/stirling-pdf/
SECURITY_OAUTH2_CLIENTID={{ stirling_oidc_client_id }}
SECURITY_OAUTH2_CLIENTSECRET={{ stirling_oidc_client_secret }}
SECURITY_OAUTH2_SCOPES=openid, profile, email
SECURITY_OAUTH2_USEASUSERNAME=preferred_username
SECURITY_OAUTH2_AUTOCREATEUSER=true
SECURITY_OAUTH2_BLOCKREGISTRATION=false
SECURITY_OAUTH2_PROVIDER=authentik

SYSTEM_BACKENDURL={{ stirling_pdf_url }}
SYSTEM_FRONTENDURL={{ stirling_pdf_url }}